.mat-toolbar{
  background: #eeeded;
  margin-bottom: 25px;
}

.texto{
  margin-bottom: 25px;
}

.cardDato{
  height: 100%;
  text-align: center;
}

mat-card-title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.area-charts{
  margin-top: 25px;
}

.lines-charts{
  margin-top: 25px;
}

.bar-charts{
  margin-top: 25px;
}

p{
  text-transform: capitalize;
}
